.contact {
  background: #2b2b38;
  height: 266px;
  margin-left: -20px;
  width: calc(100% + 40px);
  margin-bottom: -20px;
  box-shadow: 0px 0px 55px rgba(0,0,0,0.5);
}

social-media {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 53px;
  margin: auto;
  right: 0;
  left: 0;
  padding: 18px;
  -ms-flex-pack: distribute;
      -webkit-box-pack: justify;
          justify-content: space-around;
}

social-media a {
  width: 47px;
}

#insta {
  height: 45px;
}

#linkedin {
  width: 45px;
  height: 45px;
  border-radius: 6px;
}

contact-info {
  width: 258px;
  text-align: center;
}

.c-info {
  padding-top: 70px;
  padding-bottom: 50px;
  color: white;
}
