@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');

heading-card {
  width: 80%;
  height: 1290px;
  display: block;
  border: none;
  margin-left: -346px;
  margin-top: -428px;
  background: rgb(71,78,150);
  -webkit-transform: rotate(62deg);
          transform: rotate(62deg);
  box-shadow: 0px 0px 55px rgba(0,0,0,0.5);
}

.heading {
  position: absolute;
  margin-left: 60px;
  margin-top: -620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-intro {
  margin-top: -55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  margin-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading img {
  position: relative;
  border-radius: 50%;
  padding: 8px;
  background: -webkit-linear-gradient(purple, red, orange);
  background: linear-gradient(purple, red, orange);
  height: 100%;
}

.my-name {
  font-family: 'Open Sans', sans-serif;
  margin-top: 104px;
  font-size: 79px;
}

.my-headline {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  margin-left: 13px;
}

.my-tagline {
  margin-top: 30px;
  margin-left: 13px;
  width: 470px;
  line-height: 24px;
}

@media (max-width: 1675px) {
  .heading img {
    width: 250px;
  }
  .heading {
    margin-left: 55px;
    margin-top: -660px;
  }
}

@media (max-width: 1555px) {
  .my-name {
    font-size: 67px;
  }
  .my-headline {
    font-size: 24px;
  }
  .my-tagline {
    width: 415px;
    margin-top: 18px;
  }
  .heading button {
    margin-top: 18px;
    width: 172px;
    padding: 15px;
  }
}

@media (max-width: 1510px) {
  .heading {
    margin-left: 40px;
    margin-top: -720px;
  }
}

@media (max-width: 1360px) {
  .heading img {
    width: 220px;
  }
  .my-name {
    font-size: 57px;
  }
  .my-headline {
    font-size: 20px;
    margin-left: 9px;
  }
  .my-tagline {
    width: 336px;
    margin-left: 9px;
    font-size: 13px;
  }
  .heading button {
    width: 150px;
    padding: 11px;
    margin-left: 7px;
  }
}

@media (max-width: 1270px) {
  .heading {
    margin-left: 30px;
    margin-top: -738px;
  }
}

@media (max-width: 1210px) {
  .heading img {
    width: 180px;
    padding: 5px;
  }
  .my-name {
    font-size: 45px;
  }
  .my-headline {
    font-size: 16px;
    margin-left: 7px;
  }
  .my-tagline {
    width: 300px;
    margin-left: 7px;
    font-size: 12px;
  }
  .heading button {
    width: 124px;
    padding: 8px;
    margin-left: 5px;
  }
  .heading {
    margin-top: -754px;
  }
  .my-intro {
    margin-top: -64px;
  }
}

@media (max-width: 1080px) {
  .heading {
    margin-left: 20px;
    margin-top: -780px;
  }
}

@media (max-width: 1010px) {
  .heading {
    margin-left: 5px;
    margin-top: -822px;
  }
}

@media (max-width: 930px) {
  .heading {
    margin-top: -850px;
  }
}

@media (max-width: 910px) {
  .heading img {
    width: 160px;
  }
  .my-name {
    font-size: 40px;
  }
  .my-headline {
    font-size: 14px;
    margin-left: 6px;
  }
  .my-tagline {
    width: 265px;
    margin-left: 6px;
    font-size: 11px;
    line-height: 15px;
  }
  .heading button {
    width: 115px;
    padding: 6px;
    font-size: 12px;
    margin-left: 5px;
  }
  .my-intro {
    margin-top: -70px;
  }
}

@media (max-width: 810px) {
  main {
    width: 70%;
  }
}

@media (max-width: 775px) {
  main {
    width: 75%;
  }
}

@media (max-width: 725px) {
  main {
    width: 80%;
  }
}

@media (max-width: 660px) {
  main {
    width: 85%;
  }
}

@media (max-width: 620px) {
  .heading {
    margin-left: 0px;
    margin-top: -865px;
  }
}

@media (max-width: 595px) {
  .heading img {
    width: 140px;
  }
  .my-intro {
    margin-top: -76px;
    margin-left: 15px;
  }
}

@media (max-width: 560px) {
  .my-name {
    font-size: 34px;
  }
  .my-headline {
    font-size: 12px;
    margin-left: 5px;
  }
  .my-tagline {
    width: 210px;
  }
  .heading button {
    width: 94px;
    padding: 5px;
    font-size: 12px;
    margin-left: 3px;
  }
}

@media (max-width: 510px) {
  .heading img {
    width: 120px;
  }
  .my-intro {
    margin-top: -85px;
  }
  .my-tagline {
    margin-top: 10px;
  }
  .heading button {
    margin-top: 10px;
  }
}

@media (max-width: 485px) {
  .heading button {
    margin-top: 228px;
    margin-left: -126px;
    position: absolute;
  }
  .my-intro {
    margin-top: -90px;
  }
}

@media (max-width: 445px) {
  .my-name {
    min-width: 215px;
  }
  .my-tagline {
    width: 140px;
  }
}

@media (max-width: 380px) {
  .heading img {
    width: 108px;
    padding: 3px;
  }
  .my-name {
    font-size: 31px;
  }
  .my-headline {
    margin-left: 3px;
  }
  .my-tagline {
    width: 105px;
    position: absolute;
    margin-top: 210px;
    margin-left: -116px;
  }
  .heading button {
    margin-top: 10px;
    margin-left: 1px;
    position: relative;
  }
}

@media (max-width: 325px) {
  .heading {
    margin-left: -10px;
    margin-top: -874px;
  }
  .my-headline {
    font-size: 11px;
  }
  .my-name {
    font-size: 27px;
  }
}
