@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background: #333333;
  font-family: 'Lato', sans-serif;
}

main {
  width: calc(100% - 265px);
  max-width: 1440px;
  height: 100%;
  margin: auto;
  margin-top: 85px;
  overflow: hidden;
  padding: 20px;
  background: url('blacktop.png');
  box-shadow: 0px 0px 20px;
}
