.projects {
  width: 100%;
  position: relative;
  height: 100%;
  margin-top: 1000px;
  margin-left: -20px;
}

.housingfilter img {
  width: 600px;
  z-index: 1;
  position: relative;
  box-shadow: 0px 0px 55px rgba(0,0,0,0.5);
}

.ucritic img {
  width: 465px;
  z-index: 1;
  position: absolute;
  margin-top: -275px;
  margin-left: 305px;
  box-shadow: 0px 0px 55px rgba(0,0,0,0.5);
}

red-card-hidden {
  display: none;
  width: 465px;
  height: 435px;
  z-index: 2;
  position: absolute;
  margin-top: -275px;
  margin-left: 305px;
  background: #821e1e;
  box-shadow: 0px 0px 55px rgba(0,0,0,0.5);
}

.all-projects {
  margin-left: calc((100% - 770px) / 2);
  position: relative;
}

red-card-hidden h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  padding: 50px;
}

red-card-hidden p {
  width: 100%;
  color: white;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 50px;
  padding: 0px 50px;
}

red-card-hidden a {
  color: #d47145;
  font-size: 18px;
  padding: 0px 50px;
}

red-card-hidden a:visited {
  color: #b32f2f;
}

red-card {
  position: absolute;
  width: 305px;
  height: 260px;
  margin-left: 510px;
  margin-top: -400px;
  right: 0;
  left: 0;
  background: #821e1e;
  box-shadow: 0px 0px 55px rgba(0,0,0,0.5);
}

.ucritic-hidden {
  display: none;
  position: absolute;
  width: 305px;
  height: 260px;
  margin-left: 510px;
  margin-top: -400px;
  right: 0;
  left: 0;
  box-shadow: 0px 0px 55px rgba(0,0,0,0.5);
}

.ucritic-hidden img {
  width: 305px;
}

.projects-info {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: -475px;
  margin-right: 50px;
  height: 314px;
  width: 400px;
}

.projects-info h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
}

.projects-info p {
  width: 100%;
  color: white;
  font-size: 18px;
  line-height: 28px;
}

.projects-info a {
  color: #d47145;
  font-size: 18px;
}

.projects-info a:visited {
  color: #b32f2f;
}

@media (max-width: 1550px) {
  .projects-info {
    margin-right: 0px;
  }
}

@media (max-width: 1530px) {
  .ucritic {
    display: none;
  }
  red-card {
    display: none;
  }
  .ucritic-hidden {
    display: block;
  }
  .housingfilter img {
    z-index: 0;
  }
  red-card-hidden {
    display: block;
  }
  .projects-info {
    display: none;
  }
}

@media (min-width: 1530px) {
  .all-projects {
    margin-left: 0px;
  }
}

@media(max-width: 1490px) {
  .projects {
    margin-top: 1100px;
  }
}
